html {
  font-size: 20px;
}

body {
  font-family: 'Libre Franklin', sans-serif;
}

a,
a:visited {
  color: inherit;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-direction: column;

  @media(min-width: 900px) {
    flex-direction: row;
  }
}